# Database
DATABASE_URL=postgresql://username:password@localhost:5432/exelix_db

# JWT
JWT_SECRET=a20e4ef2a63fcaa0a39b7a980b2d2c4ffce139b7607c9c127f6b207ba197923afbce94b648494c2d32380a484a9b250ec5801392db95d651f320454720fed656

# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BMtQbKRgvzh3MuF3V1TJAPJ79kJp279W4_Dn1fCoelpAF4rEIJXYGNBC9e0j4r9nLJzWitplpuboFe3Vj2BwL9g
VAPID_PRIVATE_KEY=dN4Ir-XI_DXgfxrOva6eFLsUDNFJKkzzQjDSmAo12nE
VAPID_EMAIL=your_email@example.com

# Environment
NODE_ENV=development
